/* Replace the gray background with something that matches your colors.  You can use .pngs with alpha transparency. If you don't use an image, you need to remove ours*/
#header { 
  /*background: url("noisy_blue.png?v1") repeat-x scroll center transparent;
  /* OR background-image: none; */
  background: rgb(96,2,114); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(96,2,114,1) 0%, rgba(77,1,92,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,2,114,1)), color-stop(100%,rgba(77,1,92,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(96,2,114,1) 0%,rgba(77,1,92,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(96,2,114,1) 0%,rgba(77,1,92,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(96,2,114,1) 0%,rgba(77,1,92,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(96,2,114,1) 0%,rgba(77,1,92,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600272', endColorstr='#4d015c',GradientType=0 ); /* IE6-9 */

}


/*replace the canvas logo with your logo*/
#header-logo, #header.no-user #header-logo {
  background: url("https://raw.github.com/n-gertonson/CanvasTest/master/canvas_white_logo.png") no-repeat scroll 0 0 transparent;
  bottom: 0px;
  height: 70px;
  left: 10px;
  width: 145px;
}


/*if you replace the left canvas logo, move a smaller one to the right side of the header--I made the image gray first*/
#header-logo-secondary {
background: url("https://raw.github.com/n-gertonson/CanvasTest/master/NU_Header.png") no-repeat scroll 0 0 transparent;
  bottom: 15px;
  height: 30px;
  position: absolute;
  right: 15px;
  width: 270px;
  display: block;
}

/*if your logo is bigger, you can make room like this*/
#menu { margin-left: 175px; }

/*change the identity bar (the area that says "Hilary Scharton Inbox Settings Logout Help)*/
#identity {
  background-image: none;
  background-color: #000000;
  border: none;
}

/*change the color of the identity text*/
#identity a { color: #ffffff; }
/*change the color of the circle around the number of unread inbox messages*/
#identity .inbox a .unread-messages-count { background-color: #F2F0DD; }
#identity #identity-help-container a { color: #ffffff; }

/*change the color of the menu items (courses & groups etc.). If the text looks fuzzy, remove the text shadow.*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  color: #FFFFFF;
  text-shadow: none;
  line-height: 25px;
}

/*login box*/

#modal-box.login-box { background: url("Slide1.jpg?v1") no-repeat !important }

/*this will remove the extra canvas logo*/
body.modal #modal-box.login-box h1 { 
  background: none;
  height: 235px;
}

/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box { 
  height: 435px;
  width: 610px;
  color: #2784A0;
}

/*change the color of 'don't know your password'*/
body.modal #modal-box.login-box a { color: #2784A0 !important; } 

/*change the color of the login button*/
body.modal #modal-box .button, body.modal #login-box .button {
  background-color: #EBF5FA !important;
  background-image: none !important;
  border-color: #668F78;
}
  
#login_form .btn-primary, #login_form .btn-primary:hover {
  background-color: #ae5321;
  background-image: none;
  border: none !important;
  }